@model ProductReviewVM

<main>
    <div class="product-details-header">
        <h3>Product Detail</h3>
    </div>

    <div class="product-details-all">
        <div class="container">
            <div class="product-details-main">
                <div class="product-detail-box">
                    <div class="product-detail-box-left">
                        <img src="assets/Images/products/@Model.Product.MainImage" alt="">
                    </div>
                    <div class="product-detail-box-right">
                        <h3>@Model.Product.Title</h3>
                        <p>$@Model.Product.DiscountedPrice</p>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star-half"></i></button>
                        <span>(120 Reviews)</span>
                        <h4><button class="shop-addtobasket-btn" data-id="@Model.Product.ID">Add To Cart</button></h4>
                    </div>

                </div>
            </div>

            <div class="product-info">
                <div class="product-info-navlinks">
                    <button id="description" class="product-info-nav-btn active-for-product-info-nav-btn">Description</button>
                    <button id="reviews" class="product-info-nav-btn">Reviews</button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="write-a-review" class="product-info-nav-btn">Write A Review</button>
                    }
                    
                </div>
                <div id="description" class="product-info-box product-info-desc-box active-for-product-info-boxes">
                    <p>
                       @Model.Product.Description
                    </p>
                </div>
                <div id="reviews" class="product-info-box product-info-reviews-box">
                   
                    <div class="clients-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Admin - 15 Apr, 2023</p>
                        <h6>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, quidem veritatis.
                            Repellat perferendis corporis totam laudantium modi eveniet, delectus labore at nesciunt
                            doloremque temporibus blanditiis consectetur quos, perspiciatis sapiente qui!
                        </h6>
                    </div>
                    <div class="clients-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Admin - 15 Apr, 2023</p>
                        <h6>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit natus eos,
                            obcaecati ullam ratione magni! Temporibus id qui impedit vel porro vero laudantium ipsam
                            cupiditate et animi sit hic nesciunt molestias reiciendis, iure cumque necessitatibus
                            fugiat aliquam. Magnam asperiores fugiat aut voluptatibus facere ipsa doloremque. Nihil
                            officiis impedit temporibus.
                        </h6>
                    </div>
                    <div class="clients-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Admin - 15 Apr, 2023</p>
                        <h6>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, quidem veritatis.
                            Repellat perferendis corporis totam laudantium modi eveniet, delectus labore at nesciunt
                            doloremque temporibus blanditiis consectetur quos, perspiciatis sapiente qui!
                        </h6>
                    </div>
                </div>
                <div id="write-a-review" class="product-info-box product-write-review-box">
                    @await Html.PartialAsync("_AddReviewPartialView", Model.Review)
                </div>
                



            </div>



        </div>
    </div>





</main>