@model Product

<main>
    <div class="product-details-header">
        <h3>Product Detail</h3>
    </div>

    <div class="product-details-all">
        <div class="container">
            <div class="product-details-main">
                <div class="product-detail-box">
                    <div class="product-detail-box-left">
                        <img src="assets/Images/products/@Model.MainImage" alt="">
                    </div>
                    <div class="product-detail-box-right">
                        <h3>@Model.Title</h3>
                        <p>$@Model.DiscountedPrice</p>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star"></i></button>
                        <button><i class="fa-regular fa-star-half"></i></button>
                        <span>(120 Reviews)</span>
                        <h4><button class="shop-addtobasket-btn" data-id="@Model.ID">Add To Cart</button></h4>
                    </div>

                </div>
            </div>

            <div class="product-info">
                <div class="product-info-navlinks">
                    <button id="description" class="product-info-nav-btn active-for-product-info-nav-btn">Description</button>
                    <button id="reviews" class="product-info-nav-btn">Reviews</button>
                    <button id="write-a-review" class="product-info-nav-btn">Write A Review</button>
                </div>
                <div id="description" class="product-info-box product-info-desc-box active-for-product-info-boxes">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam excepturi id nesciunt,
                        pariatur unde tenetur repudiandae exercitationem necessitatibus! Sed doloribus assumenda
                        voluptatem, quidem quos nulla maiores magnam dicta laborum distinctio ratione dolorum
                        dignissimos minus in quam quo voluptatibus animi atque iste architecto. Nihil necessitatibus
                        deserunt maiores corrupti, similique nemo ipsa quas facere soluta officia rerum voluptates
                        excepturi error vel numquam adipisci praesentium repellat consequatur mollitia quasi.
                        Laudantium rerum suscipit cum quo quis tempora sequi officiis impedit delectus veniam. Nulla
                        magni alias esse consectetur quaerat harum placeat dolore omnis voluptatibus. Eos laborum
                        deserunt, maiores numquam voluptatibus nesciunt quos sunt consequatur sapiente.
                    </p>
                </div>
                <div id="reviews" class="product-info-box product-info-reviews-box">
                    <div class="clients-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Admin - 15 Apr, 2023</p>
                        <h6>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, quidem veritatis.
                            Repellat perferendis corporis totam laudantium modi eveniet, delectus labore at nesciunt
                            doloremque temporibus blanditiis consectetur quos, perspiciatis sapiente qui!
                        </h6>
                    </div>
                    <div class="clients-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Admin - 15 Apr, 2023</p>
                        <h6>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus suscipit natus eos,
                            obcaecati ullam ratione magni! Temporibus id qui impedit vel porro vero laudantium ipsam
                            cupiditate et animi sit hic nesciunt molestias reiciendis, iure cumque necessitatibus
                            fugiat aliquam. Magnam asperiores fugiat aut voluptatibus facere ipsa doloremque. Nihil
                            officiis impedit temporibus.
                        </h6>
                    </div>
                    <div class="clients-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>Admin - 15 Apr, 2023</p>
                        <h6>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, quidem veritatis.
                            Repellat perferendis corporis totam laudantium modi eveniet, delectus labore at nesciunt
                            doloremque temporibus blanditiis consectetur quos, perspiciatis sapiente qui!
                        </h6>
                    </div>
                </div>
                <div id="write-a-review" class="product-info-box product-write-review-box">
                    <label for="">Your Name:</label>
                    <input type="text">
                    <label for="">Your E-Mail:</label>
                    <input type="email">
                    <label for="">Your Review:</label>
                    <textarea name="" id=""></textarea>
                    <span>Rate The Product:</span>
                    <button><i class="fa-solid fa-star"></i></button>
                    <button><i class="fa-solid fa-star"></i></button>
                    <button><i class="fa-solid fa-star"></i></button>
                    <button><i class="fa-solid fa-star"></i></button>
                    <button><i class="fa-solid fa-star"></i></button>
                    <button class="submit-review-btn">Submit Review</button>
                </div>



            </div>



        </div>
    </div>





</main>