<main>
    <div class="contact-info-all">
        <div class="container">
            <div class="contact-info-main">
                <div class="contact-info-left">
                    <h2>Get in Touch</h2>
                    <div class="contact-info-form">
                        <textarea style="border:2px solid grey; padding-left:5px; border-radius: 5px;" class="contact-message-box" placeholder="Enter Your Message"></textarea>
                        <input style="border:2px solid grey; padding-left:5px; border-radius: 5px;" class="contact-name-input" type="text" placeholder="Enter Your Name"><input style="border:2px solid grey; padding-left:5px; border-radius: 5px;" class="contact-email-input" type="text" placeholder="E-Mail">
                        <input style="border:2px solid grey; padding-left:5px; border-radius: 5px;" class="contact-subject-input" type="text" placeholder="Enter Subject">
                        <button style="border-radius:5px;" class="contact-sendmessage-btn">Send</button>
                    </div>
                </div>
                <div class="contact-info-right">
                    <div class="contact-physycal-address">
                        <div class="contact-address-left">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="contact-address-right">
                            <p>Buttonwood, California.</p>
                            <p><span>Rosemead, CA 91770</span></p>
                        </div>
                    </div>
                    <div class="contact-physycal-address">
                        <div class="contact-address-left">
                            <i class="fa-solid fa-mobile-screen"></i>
                        </div>
                        <div class="contact-address-right">
                            <p>+1 253 565 2365</p>
                            <p><span>Mon to Fri 9am to 6pm</span></p>
                        </div>
                    </div>
                    <div class="contact-physycal-address">
                        <div class="contact-address-left">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="contact-address-right">
                            <p>support@colorlib.com</p>
                            <p><span>Send us your query anytime!</span></p>
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>





</main>