@model List<WishlistVM>


<main>
    <div class="wishlist-header">
        <h3>My Wishlist</h3>
    </div>

    <div class="wishlist-all">
        @await Html.PartialAsync("_WishlistPartialView", Model)
    </div>




</main>