@model Category
<div class="container">
    <div style="padding:60px;">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="h3 mb-4 text-gray-800">Category Update Page</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input asp-for="ID" type="hidden" />
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div id="fileInput" class="mb-3">
                        <label asp-for="File" class="form-label">Default file input example</label>
                        <input asp-for="File" class="form-control" accept="image/jpeg">

                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>



