@model ForgetPasswordVM

<main>

    <div style="padding: 50px 0;" class="register-all">
        <div class="register-main">
            <div class="register-header">
                <h5>Reset Your Password</h5>
                <p>We will send link to your E-mail Address</p>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text text-danger">
                </div>
                <div class="register-input-box">
                   <p>E-mail Address</p>
                    <input asp-for="Email" type="email" placeholder="Enter email address">
                    <span asp-validation-for="Email" class="text text-danger"></span>
         </div>
                <div style="width:100%;" class="register-bottom">
                    <p style="visibility:hidden;"> Already have an account? <a href="">Login</a> here</p>
                    <button type="submit">Submit</button>
                </div>


            </form>





        </div>



    </div>



</main>