@model ResetPasswordVM

<main>

    <div style="padding: 50px 0;" class="register-all">
        <div class="register-main">
            <div class="register-header">
                <h5 style="padding-bottom:25px;">Reset Your Password</h5>
                
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text text-danger">
                </div>
                <div class="register-input-box">
                  
                    <input asp-for="Email"  type="hidden" placeholder="Enter Password ">
                    <input asp-for="Token" type="hidden" placeholder="Enter Password ">

                 

                    <p>Password</p>
                    <input asp-for="Password" type="password" placeholder="Enter Password ">
                    <span asp-validation-for="Password" class="text text-danger"></span>

                    <p> Confirm Password</p>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password ">
                    <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>

                </div>
                <div style="width:100%;" class="register-bottom">
                    <p style="visibility:hidden;"> Already have an account? <a href="">Login</a> here</p>
                    <button type="submit">Submit</button>
                </div>


            </form>





        </div>



    </div>



</main>